<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roshan J">
    <meta name="description" content="Gentle UI is a component library having pre built components with the motive of creating good UIs.">
    <link rel="icon" href="https://img.icons8.com/stickers/100/000000/g.png">
    <title>Gentle UI | Image Designs</title>
    <link rel="stylesheet" href="image.css">
</head>
<body class="p-5 m-5">
    <h3 class="txt-highlight">RESPONSIVE IMAGE</h3>
    <div class="component-container">
        <img loading="lazy" src="https://picsum.photos/id/1066/1400/500" alt="Newborn child exploring"
        class="img-responsive">
    </div>
    <h3 class="txt-highlight">CIRCULAR IMAGE</h3>
    <div class="component-container">
        <img loading="lazy" src="https://images.generated.photos/koBwAJgohs-R8EUqU8KxWXrqjnXoBlpLZVvP6RvmeA0/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/MzMxMzAyLmpwZw.jpg" alt="Young age"
    class="img-responsive img-round">
    </div>

    <h3 class="txt-highlight">SQUARE IMAGE</h3>
    <div class="component-container">
        <img loading="lazy" src="https://hi-media.thebetterindia.com/uploads/2021/03/ezgif.com-gif-maker-91.jpg?compress=true&quality=90&w=768&dpr=1.3" alt="Father daughter bond"
    class="img-responsive img-square">
    </div>
    
</body>
</html>