<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Roshan J" />
    <meta
      name="description"
      content="Gentle UI is a component library having pre built components with the motive of creating good UIs."
    />
    <link rel="icon" href="https://img.icons8.com/stickers/100/000000/g.png" />
    <link rel="stylesheet" href="card.css" />
    <title>Gentle UI- Card Design</title>
  </head>
  <body class="p-5 m-4">
    <h3 class="txt-highlight">CARDS WITH BADGES</h3>
    <div class="card card-vertical">
      <div class="card-header">
        <div class="card-badge card-badge-info">
          <span>TRENDING</span>
        </div>
        <div class="card-dismiss">
          <i class="far fa-times-circle card-dismiss-icon"></i>
        </div>
      </div>
      <img
        loading="lazy"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_1024/nusnyjv4vv1teca0txre"
        alt="Pickle by Jhaji"
        class="card-media-img"
      />
      <div class="card-content">
        <h4 class="txt-bold card-details-title">Proteinated Milk</h4>
        <p class="card-details-subtitle">By Humpy A2</p>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
          blanditiis accusantium, ea neque sunt provident veniam error sint
          dolores quia soluta. Fugit reiciendis debitis expedita, quod dolor
          odio consequuntur ad!
        </p>
        <p class="card-pricing">
          <span class="card-price">₹600</span>
          <del class="card-original-price">₹1000</del>
          <span class="card-discount">40% off</span>
        </p>
      </div>
      <div class="card-actions">
        <button class="btn btn-warning btn-warning-hover">BUY NOW</button>
        <button class="btn btn-link btn-primary-hover">ADD TO CART</button>
        <div class="card-wish-action">
          <i class="fas fa-heart wish-icon"></i>
        </div>
      </div>
    </div>
    <h3 class="txt-highlight">CARDS WITH DISMISS</h3>
    <div class="card card-vertical">
      <div class="card-header">
        <div class="card-dismiss">
          <i class="far fa-times-circle card-dismiss-icon"></i>
        </div>
      </div>
      <img
        loading="lazy"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_1024/nusnyjv4vv1teca0txre"
        alt="Pickle by Jhaji"
        class="card-media-img"
      />
      <div class="card-content">
        <h4 class="txt-bold card-details-title">Proteinated Milk</h4>
        <p class="card-details-subtitle">By Humpy A2</p>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
          blanditiis accusantium, ea neque sunt provident veniam error sint
          dolores quia soluta. Fugit reiciendis debitis expedita, quod dolor
          odio consequuntur ad!
        </p>
        <p class="card-pricing">
          <span class="card-price">₹600</span>
          <del class="card-original-price">₹1000</del>
          <span class="card-discount">40% off</span>
        </p>
      </div>
      <div class="card-actions">
        <button class="btn btn-warning btn-warning-hover">BUY NOW</button>
        <button class="btn btn-link btn-primary-hover">ADD TO CART</button>
        <div class="card-wish-action">
          <i class="fas fa-heart wish-icon"></i>
        </div>
      </div>
    </div>
    <h3 class="txt-highlight">CARDS WITH TEXT OVERLAY</h3>
    <div class="card card-vertical card-overlay">
      <div class="overlay-text-container">
        <div class="card-overlay-text">
          OUT OF STOCK
        </div>
      </div>
      <div class="card-header">
        <div class="card-badge card-badge-info">
          <span>BESTSELLER</span>
        </div>
        <div class="card-dismiss">
          <i class="far fa-times-circle card-dismiss-icon"></i>
        </div>
      </div>
      <img
        loading="lazy"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_1024/nusnyjv4vv1teca0txre"
        alt="Pickle by Jhaji"
        class="card-media-img"
      />
      <div class="card-content">
        <h4 class="txt-bold card-details-title">Proteinated Milk</h4>
        <p class="card-details-subtitle">By Humpy A2</p>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
          blanditiis accusantium, ea neque sunt provident veniam error sint
          dolores quia soluta. Fugit reiciendis debitis expedita, quod dolor
          odio consequuntur ad!
        </p>
        <p class="card-pricing">
          <span class="card-price">₹600</span>
          <del class="card-original-price">₹1000</del>
          <span class="card-discount">40% off</span>
        </p>
      </div>
      <div class="card-actions">
        <button class="btn btn-warning btn-warning-hover">BUY NOW</button>
        <button class="btn btn-link btn-primary-hover">ADD TO CART</button>
        <div class="card-wish-action">
          <i class="fas fa-heart wish-icon"></i>
        </div>
      </div>
    </div>
    <h3 class="txt-highlight">TEXT ONLY CARDS</h3>
    <div class="card card-vertical">
      <div class="card-header">
        <div class="card-badge card-badge-info">
          <span>TRENDING</span>
        </div>
        <div class="card-dismiss">
          <i class="far fa-times-circle card-dismiss-icon"></i>
        </div>
      </div>
      <div class="card-content">
        <h4 class="txt-bold card-details-title">Proteinated Milk</h4>
        <p class="card-details-subtitle">By Humpy A2</p>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
          blanditiis accusantium, ea neque sunt provident veniam error sint
          dolores quia soluta. Fugit reiciendis debitis expedita, quod dolor
          odio consequuntur ad!
        </p>
        <p class="card-pricing">
          <span class="card-price">₹600</span>
          <del class="card-original-price">₹1000</del>
          <span class="card-discount">40% off</span>
        </p>
      </div>
      <div class="card-actions">
        <button class="btn btn-warning btn-warning-hover">BUY NOW</button>
        <button class="btn btn-link btn-primary-hover">ADD TO CART</button>
        <div class="card-wish-action">
          <i class="fas fa-heart wish-icon"></i>
        </div>
      </div>
    </div>
    <h3 class="txt-highlight">CARDS WITH SHADOW</h3>
    <div class="card card-vertical card-shadow">
      <div class="card-header">
        <div class="card-badge card-badge-info">
          <span>TRENDING</span>
        </div>
        <div class="card-dismiss">
          <i class="far fa-times-circle card-dismiss-icon"></i>
        </div>
      </div>
      <img
        loading="lazy"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_1024/nusnyjv4vv1teca0txre"
        alt="Pickle by Jhaji"
        class="card-media-img"
      />
      <div class="card-content">
        <h4 class="txt-bold card-details-title">Proteinated Milk</h4>
        <p class="card-details-subtitle">By Humpy A2</p>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
          blanditiis accusantium, ea neque sunt provident veniam error sint
          dolores quia soluta. Fugit reiciendis debitis expedita, quod dolor
          odio consequuntur ad!
        </p>
        <p class="card-pricing">
          <span class="card-price">₹600</span>
          <del class="card-original-price">₹1000</del>
          <span class="card-discount">40% off</span>
        </p>
      </div>
      <div class="card-actions">
        <button class="btn btn-warning btn-warning-hover">BUY NOW</button>
        <button class="btn btn-link btn-primary-hover">ADD TO CART</button>
        <div class="card-wish-action">
          <i class="fas fa-heart wish-icon"></i>
        </div>
      </div>
    </div>
    <h3 class="txt-highlight">VERTICAL CARD</h3>
    <div class="card card-vertical">
      <div class="card-header">
        <div class="card-badge card-badge-success">
          <span>IN STOCK</span>
        </div>
        <div class="card-dismiss">
          <i class="far fa-times-circle card-dismiss-icon"></i>
        </div>
      </div>
      <img
        loading="lazy"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_1024/nusnyjv4vv1teca0txre"
        alt="Pickle by Jhaji"
        class="card-media-img"
      />
      <div class="card-content">
        <h4 class="txt-bold card-details-title">Proteinated Milk</h4>
        <p class="card-details-subtitle">By Humpy A2</p>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
          blanditiis accusantium, ea neque sunt provident veniam error sint
          dolores quia soluta. Fugit reiciendis debitis expedita, quod dolor
          odio consequuntur ad!
        </p>
        <p class="card-pricing">
          <span class="card-price">₹600</span>
          <del class="card-original-price">₹1000</del>
          <span class="card-discount">40% off</span>
        </p>
      </div>
      <div class="card-actions">
        <button class="btn btn-warning btn-warning-hover">BUY NOW</button>
        <button class="btn btn-link btn-primary-hover">ADD TO CART</button>
        <div class="card-wish-action">
          <i class="fas fa-heart wish-icon"></i>
        </div>
      </div>
    </div>

    <h3 class="txt-highlight">HORIZONTAL CARD</h3>
    <p class="txt-highlight">When viewed on phone converts to vertical one</p>
    <div class="card card-horizontal">
      <div class="card-badge card-badge-success card-horizontal-badge">
        <span>IN STOCK</span>
      </div>
      <div class="card-dismiss card-horizontal-dismiss">
        <i class="far fa-times-circle card-dismiss-icon"></i>
      </div>
      <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_1024/nusnyjv4vv1teca0txre" class="card-media-img card-horizontal-media-img" alt="">
      <div class="card-content card-content-horizontal">
        <h4 class="txt-bold card-details-title">Proteinated Milk</h4>
        <p class="card-details-subtitle">By Humpy A2</p>
        <p class="card-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
          blanditiis accusantium, ea neque sunt provident veniam error sint
          dolores quia soluta. Fugit reiciendis debitis expedita, quod dolor
          odio consequuntur ad!
        </p>
        <p class="card-pricing">
          <span class="card-price">₹600</span>
          <del class="card-original-price">₹1000</del>
          <span class="card-discount">40% off</span>
        </p>
        <div class="card-actions">
          <button class="btn btn-warning btn-warning-hover">BUY NOW</button>
          <button class="btn btn-link btn-primary-hover">ADD TO CART</button>
          <div class="card-wish-action">
            <i class="fas fa-heart wish-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
