<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roshan J">
    <meta name="description" content="Gentle UI is a component library having pre built components with the motive of creating good UIs.">

    <link rel="icon" href="https://img.icons8.com/stickers/100/000000/g.png">
    <link rel="stylesheet" href="input.css">
    <title>Gentle UI : Input Designs</title>
</head>
<body class="p-5 m-4">
    <h3 class="txt-highlight">Basic Input Forms</h3>
    <div class="component-container">
        <form class="gentle-form-group">
            <div class="gentle-input-group">
                <label class="gentle-input-label">Name</label>
                <input type="text" class="gentle-input" placeholder="Type Here...">
            </div>
            <div class="gentle-input-group">
                <label class="gentle-input-label">Email</label>
                <input type="email" class="gentle-input" placeholder="Enter your email...">
            </div>
        </form>
    </div>
    <h3 class="txt-highlight">OTHER INPUT VARIANTS</h3>
    <div class="component-container">
        <form class="gentle-form-group">
            <div class="gentle-input-group">
                <label class="gentle-input-label">Name</label>
                <input type="text" class="gentle-input gentle-primary-input" placeholder="Primary variant...">
            </div>
            <div class="gentle-input-group">
                <label class="gentle-input-label">Email</label>
                <input type="email" class="gentle-input gentle-secondary-input" placeholder="Secondary Variant...">
            </div>
        </form>
    </div>
    <h3 class="txt-highlight">SEARCH BAR</h3>
    <div class="component-container">
        <div class="gentle-search-group">
            <i class="fas fa-search search-icon"></i>
            <input type="search" class="gentle-search-bar"
                placeholder="Search-for-products">
        </div>
    </div>
    <h3 class="txt-highlight">OUTLINED INPUTS IN DIFFERENT COLOR VARIANTS</h3>
    <div class="component-container">
        <div class="gentle-outlined-input-container">
            <label class="gentle-outlined-input-label">NAME</label>
            <input type="text" class="gentle-outlined-input">
        </div>
        <div class="gentle-outlined-input-container gentle-outlined-input-warning">
            <label class="gentle-outlined-input-label">NAME</label>
            <input type="text" class="gentle-outlined-input" placeholder="WARNING VARIANT">
        </div>
        <div class="gentle-outlined-input-container gentle-outlined-input-success">
            <label class="gentle-outlined-input-label">NAME</label>
            <input type="text" class="gentle-outlined-input" placeholder="success-variant">
        </div>
    </div>
    <h3 class="txt-highlight">ENCLOSED INPUTS WITH VALIDATION</h3>
    <div class="component-container">
        <form class="gentle-form-group">
            <div class="gentle-input-group">
                <label class="gentle-input-label">Name</label>
                <input type="text" class="gentle-input gentle-warning-input" placeholder="Primary variant...">
            </div>
            <div class="gentle-input-group">
                <label class="gentle-input-label">Email</label>
                <input type="email" class="gentle-input gentle-warning-input" placeholder="Secondary Variant...">
            </div>
            <div class="validation-msg">WEAK PASSWORD</div>
        </form>
    </div>
    <h3 class="txt-highlight">
        OUTLINED INPUT WITH VALIDATION VARIANTS
    </h3>
    <div class="component-container">
        <div class="gentle-outlined-input-container gentle-outlined-input-success">
            <label class="gentle-outlined-input-label">NAME</label>
            <input type="text" class="gentle-outlined-input" placeholder="Enter your mail">
            <p class="validation-msg">Valid Name</p>
        </div>
        <div class="gentle-outlined-input-container gentle-outlined-input-success">
            <label class="gentle-outlined-input-label">EMAIL</label>
            <input type="email" class="gentle-outlined-input" placeholder="Enter your email">
            <p class="validation-msg">Valid email</p>
        </div>  
    </div>

    <h3 class="txt-highlight">TEXT AREA INPUT SECTION</h3>
    <div class="component-container">
        <div class="gentle-outlined-input-container gentle-textarea-container">
            <label for="life" class="gentle-outlined-input-label">
                Write about your Life
            </label>
            <textarea class="gentle-outlined-input" name="life-description" id="life" cols="40" rows="3"placeholder="write your life journey">
            </textarea>
        </div>
    </div>
</body>
</html>