.btn {
    outline: var(--default-outline-format);
    border: none;
    padding:0.7rem 1rem;
    border-radius:var(--border-rd-sm);
    cursor: pointer; 
}
.btn-dark{
    background-color: var(--bg-black);
    color: var(--text-color);
}

.btn-primary{
    background-color: var(--primary-bg);
    color: var(--text-color);
}
.btn-secondary{
    background-color: var(--secondary-bg);
    color: var(--bg-black);
}
.btn-error{
    background-color:var(--error-bg);
    color: var(--text-color);
}
.btn-warning{
    background-color:var(--warning-bg);
    color: var(--bg-black);
}
.btn-success{
    background-color: var(--success-bg);
    color: var(--text-color);
}
.btn-info{
    background-color: var(--info-indicator);
    color: var(--text-color);
}
.btn-info-hover:hover{
    background-color: var(--info-hover-color);
    
}
.btn-primary-hover:hover{
    background-color: var(--primary-color-hover);
}
.btn-secondary-hover:hover{
    
    background-color:var(--secondary-color-hover);
}
.btn-success-hover:hover{
    background-color:var(--success-hover-color);
}
.btn-warning-hover:hover{
    background-color:var(--warning-hover-color);
}
.btn-error-hover:hover{
    background-color:var(--error-hover-color);
}
.btn-link{
    background: transparent;
    color: var(--text-color);
}
.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-disabled{
    opacity: 0.7;
    background-color: var(--dark-grey);
}