.sidebar {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.sidebar-components {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
}

.sidebar-components li:hover {
  border-bottom: var(--alert-border-format);
  border-bottom-color: var(--primary-color);
}

.toggle-list {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar-hidden{
    display: none;
  }
  .sidebar {
    position: sticky;
    top: 10px;
    z-index: 5;
  }
  .sidebar-heading {
    padding-top: 1rem;
  }
  .sidebar-components {
    flex-direction: column;
    align-items: start;
  }
  .rotation {
    transform: rotate(180deg);
  }
  .toggle-list {
    display: block;
    transition: 0.4s;
  }
}
