.sidebar {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.sidebar-components {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
}

.sidebar-components li:hover {
  border-bottom: var(--alert-border-format);
  border-bottom-color: var(--primary-color);
}

.sidebar-hidden,
.toggle-list {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .sidebar h4 {
    padding-top: 1rem;
  }
  .sidebar-components {
    flex-flow: column;
    height: 90vh;
    width: 100%;
    overflow-y: auto;
  }
  .rotation {
    transform: rotate(180deg);
  }
  .toggle-list {
    display: block;
    transition: 0.4s;
  }
}
