<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Roshan J" />
    <meta
      name="description"
      content="Gentle UI is a component library having pre built components with the motive of creating good UIs."
    />
    <link rel="icon" href="https://img.icons8.com/stickers/100/000000/g.png" />
    <link rel="stylesheet" href="navigation.css">
    <title>Gentle UI | Nav Designs</title>
</head>
<body class="p-5 m-5">
    <h3 class="txt-highlight">Basic Navbar</h3>
    <div class="component-container">
        <nav class="gentle-navbar">
            <div class="brand">
                <img src="https://powertrain-ui.netlify.app/assets/favicon.ico" alt="brand description" class="brand-icon">
                <h6 class="txt-highlight">BRAND</h6>
            </div>
            <div class="gentle-search-group gentle-navbar-search">
                <i class="fas fa-search search-icon"></i>
                <input type="search" class="gentle-search-bar"
                    placeholder="Search-for-products">
            </div>
            <ul class="gentle-nav-links">
                <button class="btn nav-icon">
                    <i class="fas fa-user"></i>
                </button>
                <div class="badge mx-2">
                    <i class="fas fa-cart-plus fa-2x"></i>
                    <div class="badge-number gentle-flex-center">
                        <span>4</span>
                    </div>
                </div>
            </ul>
        </nav>
    </div>

    <h3 class="txt-highlight">Responsive Navbar</h3>
    <div class="component-container">
        <div class="gentle-navbar gentle-responsive-navbar">
            <section class="navbar-toggle">
                <div class="brand">
                    <img src="https://powertrain-ui.netlify.app/assets/favicon.ico" alt="brand description" class="brand-icon">
                    <h6 class="txt-highlight">BRAND</h6>
                </div>
                <button class="navbar-toggle-btn" id="navbar-hamburger">
                    <i class="fas fa-bars"></i>
                </button>
            </section>
            <div class="gentle-search-group gentle-navbar-search">
                <i class="fas fa-search search-icon"></i>
                <input type="search" class="gentle-search-bar"
                    placeholder="Search-for-products">
            </div>
            <ul class="gentle-nav-links">
                <button class="btn nav-icon">
                    <i class="fas fa-user"></i>
                </button>
                <div class="badge mx-2">
                    <i class="fas fa-cart-plus fa-2x"></i>
                    <div class="badge-number gentle-flex-center">
                        <span>4</span>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <script>
        
const resposiveNavbarToggle = document.querySelector("#navbar-hamburger");
const navbarResponsive = document.querySelector(".gentle-navbar.gentle-responsive-navbar");
resposiveNavbarToggle.addEventListener("click", () => {
  navbarResponsive.classList.toggle("active");
});
    </script>
</body>
</html>