<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Roshan J" />
    <meta
      name="description"
      content="Gentle UI is a component library having pre built components with the motive of creating good UIs."
    />
    <link rel="icon" href="https://img.icons8.com/stickers/100/000000/g.png" />
    <link rel="stylesheet" href="lists.css">
    <title>Gentle UI | Lists Designs</title>
</head>
<body class="p-5 m-5">
    <h3 class="txt-highlight">
        General Lists in Different Formats: Normal Ordered List and Unordered Lists
    </h3>
    <div class="component-container">
        <ol class="gentle-list-container list-type-num m-3">
            <li>Part 1</li>
            <li>Part 2</li>
            <li>Part 3</li>
        </ol>
        <ol class="gentle-list-container list-type-alpha m-3">
            <li>Part 1</li>
            <li>Part 2</li>
            <li>Part 3</li>
        </ol>
        <ol class="gentle-list-container list-type-roman m-3">
            <li>Part 1</li>
            <li>Part 2</li>
            <li>Part 3</li>
        </ol>
        <ul class="gentle-list-container list-type-disc m-3">
            <li>Part 1</li>
            <li>Part 2</li>
            <li>Part 3</li>
        </ul>
        <ul class="gentle-list-container list-type-square m-3">
            <li>Part 1</li>
            <li>Part 2</li>
            <li>Part 3</li>
        </ul>
        <ul class="gentle-list-container list-type-circle m-3">
            <li>Part 1</li>
            <li>Part 2</li>
            <li>Part 3</li>
        </ul>
    </div>
    <h3 class="txt-highlight">NESTED LIST</h3>
    <div class="component-container">
        <ul class="gentle-list-container gentle-category-container m-3">
            <div class="list-title my-1">PREPARATION FOR</div>
            <li class="m-3">10th Boards</li>
            <li class="m-3">
                <div>12th Boards</div>
                <ul>
                    <li class="mx-3 my-2">Engineering Entrances</li>
                    <li class="mx-3 my-2">Medical Entrances</li>
                </ul>
            </li>
            <li class="m-3">Arts Graduate Study</li>
            <li class="m-3">B.Com Graduate Study</li>
        </ul>

        <ul class="gentle-list-container list-type-disc">
            <li>Sleep</li>
            <li>
                Daily activities
                <ul class="list-type-circle">
                    <li class="mx-3">Eat</li>
                    <li class="mx-3">Play</li>
                    <li class="mx-3">Study</li>
                </ul>
            </li>

        </ul>
    </div>
    <h3 class="txt-highlight">
        SPACED LIST
    </h3>
    <div class="component-container">
        <ul class="gentle-spaced-items-container">
            <li class="list-item spaced-item">
                <div class="list-item-container">
                    <div class="upper-content">
                        <img loading="lazy" src="https://picsum.photos/id/237/400/300" class="avatar avatar-sm m-4" alt="Dog Staring">
                        <div class="content">
                            <p class="text-bold">Dog Name</p>
                            <p class="text-info">Dog Likes</p>
                        </div>
                    </div>
                    <div class="lower-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et, impedit fugit iste nisi, asperiores maxime beatae mollitia rem aperiam similique quos. Nesciunt quidem quis reiciendis, totam corporis quasi hic!</p>
                    </div>
                    <div class="lower-content">

                    </div>
                </div>
            </li>
            <li class="list-item spaced-item">
                <div class="list-item-container">
                    <div class="upper-content">
                        <img loading="lazy" src="https://picsum.photos/id/237/400/300" class="avatar avatar-sm m-4" alt="Dog Staring">
                        <div class="content">
                            <p class="text-bold">Dog Name</p>
                            <p class="text-info">Dog Likes</p>
                        </div>
                    </div>
                    <div class="lower-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et, impedit fugit iste nisi, asperiores maxime beatae mollitia rem aperiam similique quos. Nesciunt quidem quis reiciendis, totam corporis quasi hic!</p>
                    </div>
                    <div class="lower-content">

                    </div>
                </div>
            </li>
            <li class="list-item spaced-item">
                <div class="list-item-container">
                    <div class="upper-content">
                        <img loading="lazy" src="https://picsum.photos/id/237/400/300" class="avatar avatar-sm m-4" alt="Dog Staring">
                        <div class="content">
                            <p class="text-bold">Dog Name</p>
                            <p class="text-info">Dog Likes</p>
                        </div>
                    </div>
                    <div class="lower-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et, impedit fugit iste nisi, asperiores maxime beatae mollitia rem aperiam similique quos. Nesciunt quidem quis reiciendis, totam corporis quasi hic!</p>
                    </div>
                    <div class="lower-content">

                    </div>
                </div>
            </li>
        </div>
    </div>
    <div class="component-container"></div>
    <h3 class="txt-highlight">STACKED LIST</h3>
    <div class="component-container">
        <ul class="gentle-stacked-items-container">
            <li class="list-item">
                <div class="list-item-container">
                    <div class="upper-content">
                        <img loading="lazy" src="https://picsum.photos/id/237/400/300" class="avatar avatar-sm m-4" alt="Dog Staring">
                        <div class="content">
                            <p class="text-bold">Dog Name</p>
                            <p class="text-info">Dog Likes</p>
                        </div>
                    </div>
                    <div class="lower-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et, impedit fugit iste nisi, asperiores maxime beatae mollitia rem aperiam similique quos. Nesciunt quidem quis reiciendis, totam corporis quasi hic!</p>
                    </div>
                    <div class="lower-content">

                    </div>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-container">
                    <div class="upper-content">
                        <img loading="lazy" src="https://picsum.photos/id/237/400/300" class="avatar avatar-sm m-4" alt="Dog Staring">
                        <div class="content">
                            <p class="text-bold">Dog Name</p>
                            <p class="text-info">Dog Likes</p>
                        </div>
                    </div>
                    <div class="lower-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et, impedit fugit iste nisi, asperiores maxime beatae mollitia rem aperiam similique quos. Nesciunt quidem quis reiciendis, totam corporis quasi hic!</p>
                    </div>
                    <div class="lower-content">

                    </div>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-container">
                    <div class="upper-content">
                        <img loading="lazy" src="https://picsum.photos/id/237/400/300" class="avatar avatar-sm m-4" alt="Dog Staring">
                        <div class="content">
                            <p class="text-bold">Dog Name</p>
                            <p class="text-info">Dog Likes</p>
                        </div>
                    </div>
                    <div class="lower-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et, impedit fugit iste nisi, asperiores maxime beatae mollitia rem aperiam similique quos. Nesciunt quidem quis reiciendis, totam corporis quasi hic!</p>
                    </div>
                    <div class="lower-content">

                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>