@import url("../../style-guide/compiled-style-guide.css");
@import url("../avatar/avatar.css");
body {
  background-color: var(--bg-color);
  font-family: "Exo", sans-serif;
}

.txt-highlight {
  color: var(--primary-color);
}

.component-container {
  background-color: var(--secondary-color);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.gentle-list-container,.gentle-category-container,
.gentle-spaced-items-container,.gentle-stacked-items-container{
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-white);
  padding: 1rem 1.5rem 1rem 2.5rem;
  line-height: 1.5;
}

.gentle-category-container{
  padding: 1.5rem;
  border-radius: 0.4rem;
  background-color: var(--bg-white);
  border: 2px solid var(--dark-grey);
}

.list-title{
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: var(--txt-color);
}

.list-type-num{
  list-style-type: decimal;
}

.list-type-alpha{
  list-style-type: lower-alpha;
}
.list-type-roman{
  list-style-type: lower-roman;
}

.list-type-disc{
  list-style-type: disc;
}

.list-type-square{
  list-style-type: square;
}

.list-type-circle{
  list-style-type:circle ;
}

.list-item-container{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.list-item{
  border:var(--alert-border-format);
  border-color:var(--primary-color);
  padding: 1rem;
}
.spaced-item{
  margin-top:1.5rem;
}
.upper-content{
  display: flex;
  align-items: center;
}