<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roshan J">
    <meta name="description" content="Gentle UI is a component library having pre built components with the motive of creating good UIs.">

    <link rel="icon" href="https://img.icons8.com/stickers/100/000000/g.png">
    <link rel="stylesheet" href="alert.css">
    <title>Gentle UI : Alert Designs</title>
</head>

<body class="p-5 m-4">
    <h3>Normal Alerts</h3>
    <div class="component-container">
        <div class="alert alert-primary p-4">
            <span>This is a primary alert</span>
        </div>
        <div class="alert alert-success p-4">
            <span>This is a success alert</span>
        </div>
        <div class="alert alert-warning p-4">
            <span>This is a warning alert</span>
        </div>
        <div class="alert alert-error p-4">
            <span>This is an error alert</span>
        </div>
        <div class="alert alert-info p-4">
            <span>This is an info alert</span>
        </div>
    </div>
    <h3>Alerts with Icons</h3>

    <div class="component-container">
        <div class="alert alert-primary p-4">
            <span><i class="fas fa-star px-3"></i>This is a primary alert</span>
        </div>
        <div class="alert alert-success p-4">
            <span><i class="fas fa-check px-3"></i>This is a success alert</span>
        </div>
        <div class="alert alert-warning p-4">
            <span><i class="fas fa-exclamation px-3"></i>This is a warning alert</span>
        </div>
        <div class="alert alert-error p-4">
            <span><i class="fas fa-exclamation-triangle px-3"></i>This is an error alert</span>
        </div>
        <div class="alert alert-info p-4">
            <span><i class="fas fa-info-circle px-3"></i>This is an info alert</span>
        </div>
    </div>
    <h3>Dismissable Alerts</h3>
    <div class="component-container">
        <div class="alert-dismissable alert-primary p-4">
            <span><i class="fas fa-star px-3"></i>This is a primary alert</span>
            <i class="far fa-times-circle fa-2x close-icon text-cursor-pointer"></i>
        </div>
        <div class="alert-dismissable alert-success p-4">
            <span><i class="fas fa-check px-3"></i>This is a success alert</span>
            <i class="far fa-times-circle fa-2x close-icon text-cursor-pointer"></i>
        </div>
        <div class="alert-dismissable alert-warning p-4">
            <span><i class="fas fa-exclamation px-3"></i>This is a warning alert</span>
            <i class="far fa-times-circle fa-2x close-icon text-cursor-pointer"></i>
        </div>
        <div class="alert-dismissable alert-error p-4">
            <span><i class="fas fa-exclamation-triangle px-3"></i>This is an error alert</span>
            <i class="far fa-times-circle fa-2x close-icon text-cursor-pointer"></i>
        </div>
        <div class="alert-dismissable alert-info p-4">
            <span><i class="fas fa-info-circle px-3"></i>This is an info alert</span>
            <i class="far fa-times-circle fa-2x close-icon text-cursor-pointer"></i>
        </div>
    </div>

    <script src="alert.js"></script>
</body>

</html>