.relative-position{
    position: relative;
}
.absolute-position{
    position: absolute;
}
.sticky-position{
    position: sticky;
}
.fixed-position{
    position: fixed;
}

.g-flex-row{
    display:flex;
}

.g-flex-column{
    display: flex;
    flex-direction: column;
}

.g-flex-space-between{
    justify-content: space-between;
}

.g-flex-align-center{
    align-items: center;
}

.g-flex-start{
    justify-content: flex-start;
    align-items: flex-start;
}

.g-flex-center{
    justify-content: center;
    align-items: center;
}

.g-flex-space-between-align-center{
    justify-content: space-between;
    align-items: center;
}

.g-flex-wrap{
    flex-wrap: wrap;
}

.g-no-flex-wrap{
    flex-wrap:nowrap;
}

.g-flex-grow-1{
    flex-grow: 1;
}
